.row
  margin: 0 auto
  max-width: 1100px
  text-align: center

.row-one, .row-three
  padding: 50px

.row-two .col-sm-4
  border-right: 1px gray solid

  &:first-child
    border-left: 1px gray solid

.home img
  max-width: 99%
