html * {
  color: black;
  list-style: none;
  text-decoration: none;
}

@font-face {
    font-family: 'palitoonregular';
    src: url('../../fonts/palitoon-webfont.eot');
    src: url('../../fonts/palitoon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/palitoon-webfont.woff2') format('woff2'),
         url('../../fonts/palitoon-webfont.woff') format('woff'),
         url('../../fonts/palitoon-webfont.ttf') format('truetype'),
         url('../../fonts/palitoon-webfont.svg#palitoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, p {
  font-family: 'palitoonregular', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

h1 {
  letter-spacing: .5px;
}

img {
  max-width: 100%;
}
