.modal-header h4
  font-size: 22px

.modal-dialog h4
  font-size: 21px
  padding-top: 30px
  text-align: center

.modal-body

  img
    display: block
    margin: 0 auto
    max-width: 90%
    padding-top: 30px
    text-align: center

  p
    margin: 0 auto

.fade.in
  background-color: rgba(20, 20, 20, 0.5) !important
