@media #{$desktop}

  #navbar
    max-height: 50px

  .row-two
    display: block

@media #{$iPhone}

  #navbar
    padding-right: 10px

  .quote-one,
  .quote-two
    font-size: 20px
    max-width: 350px
