#Carousel {
  margin-top: 60px;
}

.carousel-caption {
  font-size: 24px;
}

.carousel-caption h4 {
  font-size: 32px;
}

#Carousel .item {
  height: 400px;
}

#slide1 {
  background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
  background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3 {
  background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}
