footer {
  align-items: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  margin: 0 auto;
  max-width: 980px;
  clear: both;
  padding: 10% 0;
}

img.social {
  height: 60px;
  padding: 10%;
}
