.buffer {
  display: none;
  max-width: 95%;
}

.panel {
  border: none;
  box-shadow: none;
  margin: 100px auto 8%;
  max-width: 90%;
  shadow: none;
}

//    main    //
#main .panel h3, #more .panel h3 {
  font-size: 40px;
  padding-bottom: 15px;
  text-align: center;
}

#main .panel a, #more .panel a  {
  padding-top: 10px;
}

#main .panel img, #more .panel img {
  border-radius: 10px;
  box-shadow: 0 0 10px #777;
  box-shadow-left: none;
  margin: 0 0 40px;
  max-width: 95%;
}

#main.row {
  margin: 0 auto;
}

#main p, #more p {
  color: #777;
  font-size: 30px;
  text-align: center;
}

#main a, #more a {
  display: block;
  text-align: center;
}

//    secondary    //
#secondary {
  padding-top: 20px;
}

#secondary.row {
  text-align: center;
}

#secondaryLeft, #secondaryRight {
  padding-left: 100px;
  padding-top: 10px;
}

#secondaryMid, #secondaryRight {
  border-left: #ddd 1px solid;
  padding-left: 100px;
  height: 50px;
}

.secondary-text {
  color: #777;
  font-size: 20px;
  text-align: left;
}

.secondary-text_mid {
  color: #777;
  font-size: 20px;
  margin-right: 70px;
  text-align: center;
}

//    more     //
#more {
  margin-top: 20px;
}


//    kitchen    //
#gallery .panel img {
  box-shadow: 0 0 10px #777;
  box-shadow-left: none;
  margin: 0 0 30px;
  max-width: 100%;
}

#gallery .panel {
  margin-top: 50px;
}

#gallery p {
  text-align: center;
}

.main-text, .more-text {
  color: #777;
  font-size: 30px;
  text-align: center;
}

.main-link, .more-link {
  display: block;
  text-align: center;
}


//    about    //
#about, #contact {
  margin: 0 auto;
  max-width: 80%;
  padding: 100px 0;
}

#about p, #contact {
  font-size: 20px;
}
.indent {
  text-indent: 70px;
}

.about-heading, .contact-heading {
  background-color: #eee;
  margin: 0;
  padding: 20px;
}

.about-quote_one {
  background-color: #eee;
  float: left;
  margin: 15px 50px 30px 0;
  padding: 15px 25px;
  text-align: center;
  width: 300px;
}

.about-quote_two {
  background-color: #eee;
  float: right;
  margin-top: 20px;
  padding: 30px 30px 30px 0;
  text-align: right;
  width: 500px;
}

.contact-heading {
  background-color: #eee;
  margin: 0;
  padding: 20px;
}
