@media screen and (min-width: 815px) {

  .dropbtn {
    display: none;
  }
}

@media screen and (max-width: 815px) {

  .left {
    display: none;
    position: absolute;
    color: white;
    clear: left;
    float: left;
  }
}

@media screen and (max-width: 1300px) {

  #wrapper_left {
    visibility: hidden;
  }

  .social_nav {
    visibility: visible;
  }
}
