//    nav     //
nav {
  cursor: pointer;
}

#navbar.container {
  margin-left: 3.25%;
  padding-left: 0;
}

.navbar {
  background-color: #F8F8FF;
}

.navbar h3 {
  color: #2F2F2F;
  float: left;
  font-size: 40px;
  padding-bottom: 15px;
  text-align: center;
}

.navbar-options {
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.navbar-title {
  padding-left: 10px;
}

.navbar-top {
  color: #777;
  margin-bottom: 0;
  padding: 60px 0 10px 0;
  text-decoration: none;
}

.navbar-top a:hover {
  text-decoration: none;
}

//    dropdown    //
.dropdown li:first-child {
  padding-top: 15px;
}

.dropdown li:last-child {
  padding-bottom: 15px;
}

.dropdown-toggle {
  cursor: pointer;
}
