
// wrapper sections
#wrapper_body {
  margin: 0 auto;

}

#wrapper_content {
  margin: 0 auto;
  max-width: 740px;
  min-height: 100%;
  padding: 0 5%;
}

#wrapper_left {
  float: left;
  margin: 100px;
  position: fixed;
}

// class sections
.about_me {
  text-align: right;
}

.contact {
  float: right;
}

.contact img {
  float: left;
  max-width: 50%;
  padding: 0 11% 0 0;
}

.home img {
  margin: 5% 0;
}

.people li, .nature li {
  float: left;
  width: 45%;
  margin: 2.5%;
}

.social_aside {
  margin: 10%;
  width: 90px;
}

.social_nav {
  height: 60px;
  padding: 10%;
  visibility: hidden;
}
