#carpentry
  h2.gallery-heading Carpentry
  #gallery.row
    #modalBallPeenHammer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title BPH03-0N2 Ball Peen Hammer, 4oz
          .modal-body
            img(src='dist/images/046 4 0z Ball Peen hammer.jpg', alt='ball peen hammer 4 oz')
            h4 Specifications:
            p Manufacturer: Lee Tools ® U.S.A.
            p No. Pieces: 1
            p Size: 4 oz
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalBallPeenHammer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/046 4 0z Ball Peen hammer.jpg', alt='ball peen hammer 4 oz')
          p BPH03-0N2 Ball Peen Hammer, 4oz
    // end modalBallPeenHammer

    #modalClawHammer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title CH05-0N2 Claw Hammer, 7 oz
          .modal-body
            img(src='dist/images/079 7 oz claw hammer.jpg', alt='claw hammer 7 oz')
            h4 Specifications:
            p Manufacturer: Rubbermaid ®
            p Material: Drop Forged Carbon Steel
            p No. Pieces: 1
            p Size: 7 oz
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalClawHammer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/079 7 oz claw hammer.jpg', alt='claw hammer 7 oz')
          p CH05-0N2 Claw Hammer, 7 oz
    // end modalClawHammer

    #modalRipClawHammer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title RCH06-0N2 Rip-Claw Hammer, 10 oz
          .modal-body
            img(src='dist/images/078 10 oz Rip claw hammer.jpg', alt='rip claw hammer 10 oz')
            h4 Specifications:
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 10 oz
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalRipClawHammer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/078 10 oz Rip claw hammer.jpg', alt='rip claw hammer 10 oz')
          p RCH06-0N2 Rip-Claw Hammer, 10 oz
    // end modalRipClawHammer

    #modalTackHammer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title TH08-0N2 Tack Hammer, 5 oz
          .modal-body
            img(src='dist/images/083 Tack Hammer.jpg', alt='tack hammer 5 oz')
            h4 Specifications:
            p Manufacturer: Rubbermaid ®
            p Material: Drop Forged Carbon Steel
            p No. Pieces: 1
            p Size: 5 oz
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalTackHammer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/083 Tack Hammer.jpg', alt='tack hammer 5 oz')
          p TH08-0N2 Tack Hammer, 5 oz
    // end modalTackHammer

    #modalCopingSaw.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title CS04-0N2 Coping Saw
          .modal-body
            img(src='dist/images/057 Coping Saw.jpg', alt='coping saw')
            h4 Specifications:
            p Manufacturer: CRAFTSMAN – Sears
            p No. Pieces: 1
            p Size: 8”
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalCopingSaw', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/057 Coping Saw.jpg', alt='coping saw')
          p CS04-0N2 Coping Saw
    // end modalCopingSaw

    #modalHackSaw.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title HS06-0N2 Hack Saw
          .modal-body
            img(src='dist/images/092 Hack saw.jpg', alt='hack saw')
            h4 Specifications:
            p Manufacturer: CRAFTSMAN – Sears
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHackSaw', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/092 Hack saw.jpg', alt='hack saw')
          p HS06-0N2 Hack Saw
    // end modalHackSaw

    #modalMiniHobby.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title MHCS01-0N2 Mini Hobby Craft Saw
          .modal-body
            img(src='dist/images/075 Mini hobby saw.jpg', alt='mini hobby saw')
            h4 Specifications:
            p Manufacturer: EXCEL HOBBY BLADES CORP.
            p Material: Carbon Steel
            p No. Pieces: 1
            p Size: 6”
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalMiniHobby', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/075 Mini hobby saw.jpg', alt='mini hobby saw')
          p MHCS01-0N2 Mini Hobby Craft Saw
    // end modalMiniHobby

    #modalUtilityKnife.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title UK03-0N2 Utility Knife (Retractable)
          .modal-body
            img(src='dist/images/052 Utility Knife.jpg', alt='utility knife')
            h4 Specifications:
            p Manufacturer: STANLEY ®
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalUtilityKnife', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/052 Utility Knife.jpg', alt='utility knife')
          p UK03-0N2 Utility Knife (Retractable)
    // end modalUtilityKnife

    #modalExactoKnife.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title EK01-0N2 Exacto Knife
          .modal-body
            img(src='dist/images/069Exacto Knife.jpg', alt='exacto knife')
            h4 Specifications:
            p Manufacturer: EXCEL HOBBY BLADES CORP.
            p Material: Carbon Steel
            p No. Pieces: 1
            p Size: 1”
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalExactoKnife', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/069Exacto Knife.jpg', alt='exacto knife')
          p EK01-0N2 Exacto Knife
    // end modalExactoKnife

    #modalNailHolder.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title NH03-0N2 Nail Holder
          .modal-body
            img(src='dist/images/070Nail holder.jpg', alt='nail holder')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: Acidel Delran
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalNailHolder', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/070Nail holder.jpg', alt='nail holder')
          p NH03-0N2 Nail Holder
    // end modalNailHolder

    #modalCenterPunch.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title CP01-0N2 Center Punch
          .modal-body
            img(src='dist/images/049 Center Punch.jpg', alt='center punch')
            h4 Specifications:
            p Manufacturer:DASCOPROW ®
            p Material:Heat Treated Carbon Steel
            p No. Pieces:1
            p Size:7/16”
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalCenterPunch', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/049 Center Punch.jpg', alt='center punch')
          p CP01-0N2 Center Punch
    // end modalCenterPunch

    #modalWoodCarving.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title WCK01-0N2 Wood Carving Knife
          .modal-body
            img(src='dist/images/150 Wood Carving knife.jpg', alt='wood carving knife')
            h4 Specifications:
            p Manufacturer: EXCEL HOBBY BLADES CORP.
            p Material: Carbon Steel
            p No. Pieces: 1
            p Size: 1 ¾” Blade
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalWoodCarving', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/150 Wood Carving knife.jpg', alt='wood carving knife')
          p WCK01-0N2 Wood Carving Knife
    // end modalWoodCarving

    #modalWoodChisel.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title WCS01-0N2 Wood Chisel Set
          .modal-body
            img(src='dist/images/064Chisel Set.jpg', alt='chisel set')
            h4 Specifications:
            p Manufacturer:Berkshire ®
            p Material:High Carbon Tool Steel
            p No. Pieces:1
            p Size:½”, ¾”, & 1”
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalWoodChisel', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/064Chisel Set.jpg', alt='chisel set')
          p WCS01-0N2 Wood Chisel Set
    // end modalWoodChisel

    #modalSlottedScrew.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title SSS04-0N2 Slotted Screwdriver Set
          .modal-body
            img(src='dist/images/055Slotted screwdriver.jpg', alt='slotted screw driver')
            h4 Specifications:
            p Manufacturer:EnderesTool
            p Material:Carbon Steel
            p No. Pieces:3
            p Size:Size N0. 1, No. 2 & No. 3
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalSlottedScrew', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/055Slotted screwdriver.jpg', alt='slotted screw driver')
          p SSS04-0N2 Slotted Screwdriver Set
    // end modalSlottedScrew

    #modalPhillips.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title PSS04-0N2 Phillips Screwdriver Set
          .modal-body
            img(src='dist/images/059Phillips screw driver set.jpg', alt='phillips screw driver set')
            h4 Specifications:
            p Manufacturer:EnderesTool
            p Material:Carbon Steel
            p No. Pieces:3
            p Size:Size N0. 1, No. 2 & No. 3
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalPhillips', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/059Phillips screw driver set.jpg', alt='phillips screw driver set')
          pPSS04-0N2 Phillips Screwdriver Set
    // end modalPhillips
