.components
  h2.gallery-heading Components
  .gallery.row
    #modalBumpDevice.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Bump Device
          .modal-body
            img(src='dist/images/013,Bump Device.jpg', alt='Bump Device')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalBumpDevice', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/013,Bump Device.jpg', alt='Bump Device')
          p Bump Device
    // end modalBumpDevice

    #modalBumpArm.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Bump with Arm
          .modal-body
            img(src='dist/images/018 Bump with arm.jpg', alt='Bump with arm')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalBumpArm', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/018 Bump with arm.jpg', alt='Bump with arm')
          p Bump with Arm
    // end modalBumpArm

    #modalBumpArmLine.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Bump with Arm and Line
          .modal-body
            img(src='dist/images/019 Bump with arm and line.jpg', alt='Bump with arm and line')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalBumpArmLine', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/019 Bump with arm and line.jpg', alt='Bump with arm and line')
          p Bump with Arm and Line
    // end modalBumpArmLine

    #modalHookKit.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hook Kit
          .modal-body
            img(src='dist/images/216 Hook kit.jpg', alt='Hook kit')
            h4 Specifications:
            p No. Pieces: 3
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHookKit', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/216 Hook kit.jpg', alt='Hook kit')
          p Hook Kit
    // end modalHookKit

    #modalPalmer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Palmer Backing Unit
          .modal-body
            img(src='dist/images/028 Palmer Backing Unit.jpg', alt='Palmer Backing Unit')
            h4 Specifications:
            p No. Pieces:4
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalPalmer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/028 Palmer Backing Unit.jpg', alt='Palmer Backing Unit')
          p Palmer Backing Unit
    // end modalPalmer

    #modalMiscImplement.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Misc Implement Holder
          .modal-body
            img(src='dist/images/088 Misc Implement Holder.jpg', alt='Misc Implement Holder')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalMiscImplement', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/088 Misc Implement Holder.jpg', alt='Misc Implement Holder')
          p Misc Implement Holder
    // end modalMiscImplement

    #modalGolfClub.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Golf Club shank adaptor
          .modal-body
            img(src='dist/images/106 Golf Club shank adapter.jpg', alt='Golf Club shank adapter')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalGolfClub', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/106 Golf Club shank adapter.jpg', alt='Golf Club shank adapter')
          p Golf Club shank adapter
    // end modalGolfClub


    #modalStandardLock.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Standard Locking Tool Shank
          .modal-body
            img(src='dist/images/110 Standard locking tool shank.jpg', alt='Standard locking tool shank')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalStandardLock', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/110 Standard locking tool shank.jpg', alt='Standard locking tool shank')
          p Standard Locking Tool Shank
    // end modalStandardLock

    #modalHandsSwivel.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hands Free Locking Swivel Tool Shank
          .modal-body
            img(src='dist/images/115 Hands free locking swivel tool shank.jpg', alt='Hands free locking swivel tool shank')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHandsSwivel', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/115 Hands free locking swivel tool shank.jpg', alt='Hands free locking swivel tool shank')
          p Hands Free Locking Swivel Tool Shank
    // end modalHandsSwivel

    #modalToolShank20.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Tool Shank with Half 20 Threads
          .modal-body
            img(src='dist/images/121 Tool shank with half 20 threads.jpg', alt='Tool shank with half 20 threads')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalToolShank20', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/121 Tool shank with half 20 threads.jpg', alt='Tool shank with half 20 threads')
          p Tool Shank with Half 20 Threads
    // end modalToolShank20

    #modalWorley.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Worley 180
          .modal-body
            img(src='dist/images/123 Worley 180.jpg', alt='Worley 180')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalWorley', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/123 Worley 180.jpg', alt='Worley 180')
          p Worley 180
    // end modalWorley

    #modalQuickDisk.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Quick Disc Myo Electric Adapter
          .modal-body
            img(src='dist/images/126 Quick disc myo_electric adapter.jpg', alt='Quick disc myo_electric adapter')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalQuickDisk', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/126 Quick disc myo_electric adapter.jpg', alt='Quick disc myo_electric adapter')
          pQuick Disc Myo Electric Adapter
    // end modalQuickDisk

    #modalQuickPalmer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Quick Disconnect Palmer Unit
          .modal-body
            img(src='dist/images/130 Quick Disconnect palmer unit.jpg', alt='Quick Disconnect palmer unit')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalQuickPalmer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/130 Quick Disconnect palmer unit.jpg', alt='Quick Disconnect palmer unit')
          p Quick Disconnect Palmer Unit
    // end modalQuickPalmer

    #modalQuickWrist.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Quick Disconnect Wrist Unit
          .modal-body
            img(src='dist/images/131 Quick disconnect wrist unit.jpg', alt='Quick disconnect wrist unit')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalQuickWrist', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/131 Quick disconnect wrist unit.jpg', alt='Quick disconnect wrist unit')
          p Quick Disconnect Wrist Unit
    // end modalQuickWrist

    #modalRingL.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Lamination Ring
          .modal-body
            img(src='dist/images/137 Lamination ring.jpg', alt='Lamination ring')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalRingL', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/137 Lamination ring.jpg', alt='Lamination ring')
          p Lamination Ring
    // end modalRingL

    #modalQuickInsert.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Quick Disconnect Insert with O ring
          .modal-body
            img(src='dist/images/138 Quick disconnect insert with O ring.jpg', alt='Quick disconnect insert with O ring')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalQuickInsert', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/138 Quick disconnect insert with O ring.jpg', alt='Quick disconnect insert with O ring')
          p Quick Disconnect Insert with O ring
    // end modalQuickInsert

    #modalTran.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Transcarpal Adapter
          .modal-body
            img(src='dist/images/148 Transcarpal adapter.jpg', alt='Transcarpal adapter')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalTran', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/148 Transcarpal adapter.jpg', alt='Transcarpal adapter')
          p Transcarpal Adapter
    // end modalTran

    #modalFlection.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Flection Pull Kit
          .modal-body
            img(src='dist/images/170 Flection Pull Kit.jpg', alt='Flection Pull Kit')
            h4 Specifications:
            p No. Pieces: 2
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalFlection', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/170 Flection Pull Kit.jpg', alt='Flection Pull Kit')
          p Flection Pull Kit
    // end modalFlection

    #modalFlecLever.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Flection Lever
          .modal-body
            img(src='dist/images/176 Flection Lever.jpg', alt='176 Flection Lever.jpg')
            h4 Specifications:
            p No. Pieces:1
            p Size:Standard
            p Shank:Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site:N-Abler II™
    a(href='#modalFlecLever', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/176 Flection Lever.jpg', alt='176 Flection Lever.jpg')
          p Flection Lever
    // end modalFlecLever

    #modalThreadedAda.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Threaded Adaptor
          .modal-body
            img(src='dist/images/178 Threaded Adaptor.jpg', alt='Threaded Adaptor')
            h4 Specifications:
            p No. Pieces: 2
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalThreadedAda', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/178 Threaded Adaptor.jpg', alt='Threaded Adaptor')
          p Threaded Adaptor
    // end modalThreadedAda

    #modalRotation.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Rotation Spring
          .modal-body
            img(src='dist/images/179  Rotation Spring.jpg', alt='Rotation Spring')
            h4 Specifications:
            p No. Pieces: 3
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalRotation', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/179  Rotation Spring.jpg', alt='Rotation Spring')
          p Rotation Spring
    // end modalRotation

    #modalEndo.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Endo Skeletal Adaptor
          .modal-body
            img(src='dist/images/186 Endo Skeletal Adaptor.jpg', alt='Endo Skeletal Adaptor')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalEndo', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/186 Endo Skeletal Adaptor.jpg', alt='Endo Skeletal Adaptor')
          p Endo Skeletal Adaptor
    // end modalEndo

    #modalEndo2.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Endo Skeletal Adaptor
          .modal-body
            img(src='dist/images/189 Endo Skeletal Adaptor.jpg', alt='Endo Skeletal Adaptor')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalEndo2', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/189 Endo Skeletal Adaptor.jpg', alt='Endo Skeletal Adaptor')
          p Endo Skeletal Adaptor
    // end modalEndo2
