footer
  .row
    .col-sm-3
      p N-Abler
      a(href='#n-abler') N-Abler II
      a(href='#n-abler') Nabler V
      .hidden-break
    .col-sm-3
      p Kitchen
      a(href='#cutlery') Cutlery
      a(href='#utencils') Utencils
      .hidden-break
    .col-sm-3
      p Outdoor
      a(href='#carpentry') Carpentry
      a(href='#gardening') Gardening
      a(href='#mechanic') Mechanic
      a(href='#sports-gear') Sports Gear
      .hidden-break
    .col-sm-3
      p Other
      a(href='#hygiene') Hygiene
      a(href='#components') Components
      
a(href='http://brandnpatterson.net/')
  .copyright
    | ©
    script(type='text/javascript') document.write(new Date().getFullYear());
    | &nbsp; Brandon Patterson. All Rights Reserved.
// end footer
