#gardening
  h2.gallery-heading Gardening
  #gallery.row
    #modalPruningSaw.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title PS03-0N2 Pruning Saw
          .modal-body
            img(src='dist/images/093 Pruning Saw.jpg', alt='pruning saw')
            h4 Specifications:
            p Manufacturer: DeWALT ®
            p Material: High Treated Carbon Steel
            p No. Pieces: 1
            p Size: 5” W/6 Teeth Per Inch
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPruningSaw', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/093 Pruning Saw.jpg', alt='pruning saw')
          p PS03-0N2 Pruning Saw
    // end modalPruningSaw

    #modalHandHoe.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hand Hoe
          .modal-body
            img(src='dist/images/097 Hand Hoe.jpg', alt='hand hoe')
            h4 Specifications:
            p Manufacturer: DeWALT ®
            p Material: High Treated Carbon Steel
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHandHoe', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/097 Hand Hoe.jpg', alt='hand hoe')
          p Hand Hoe
    // end modalHandHoe

    #modalHandCult.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hand Cultivator
          .modal-body
            img(src='dist/images/106 Hand Cultivator.jpg', alt='hand cultivator')
            h4 Specifications:
            p Manufacturer: DeWALT ®
            p Material: High Treated Carbon Steel
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHandCult', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/106 Hand Cultivator.jpg', alt='hand cultivator')
          p Hand Cultivator
    // end modalHandCult

    #modalHandSpade.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hand Spade
          .modal-body
            img(src='dist/images/112 Hand Spade.jpg', alt='hand spade')
            h4 Specifications:
            p Manufacturer: DeWALT ®
            p Material: High Treated Carbon Steel
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    // end modal
