.home
  .first-panel.row
    .first-panel-left.col-sm-6
      .panel
        a(href='#n-abler')
          img(src='dist/images/147 N Abler II.jpg', alt='N-Abler II')
    .first-panel-light.col-sm-6
      .panel
        h3 The N-Abler II ™
        p "The N-Abler II ™ is the 'Heart' of the N-Abler ™ Tool and Implement System."
        a.main-link(href='#n-abler') Learn more »
  // end first-panel

  .second-panel.row
    .second-panel-left.col-sm-4
      .secondary-text
        p The World Standard
    .second-panel-mid.col-sm-4
      .secondary-text_mid
        p Ask About our L Codes Recommendations
    .second-panel-right.col-sm-4
      .secondary-text
        p Award Winning Design
  // end second-panel

  .third-panel.row
    .third-panel-left.col-sm-6
      .panel
        h3 The N-Abler V ™ AB
        p.more-text "The new N-Abler V wrists provide more flexibility in daily living activities."
        a(href='#n-abler') Learn more »
    .third-panel-right.col-sm-6
      .panel
        a(href='#n-abler')
          img(src='dist/images/159 AB Wrist.jpg', alt='N-Abler V AB')
  // end third-panel

  .forth-panel.row
    .forth-panel-left.col-sm-6
      .panel
        a(href='#n-abler')
          img(src='dist/images/163  A Wrist.jpg', alt='N-Abler V A')
    .forth-panel-right.col-sm-6
      .panel
        h3 The N-Abler V ™ A
        p "The A model is designed for the individual that requires cable control rotation, flexion/extension."
        a.main-link(href='#n-abler') Learn more »
