#hygiene
  h2.gallery-heading Hygiene
  #gallery.row
    #modalRoundBrush.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Round Brush, Standard Shank
          .modal-body
            img(src='dist/images/114 Round Brush, std, shank.jpg', alt='Round Brush, std, shank')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalRoundBrush', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/114 Round Brush, std, shank.jpg', alt='Round Brush, std, shank')
          p Round Brush, Standard Shank
    // end modalRoundBrush

    #modalOvalHands.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Oval Hands Free Brush
          .modal-body
            img(src='dist/images/121 Oval Hands Free Brush.jpg', alt='Oval Hands Free Brush')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalOvalHands', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/121 Oval Hands Free Brush.jpg', alt='Oval Hands Free Brush')
          p Oval Hands Free Brush
    // end modalOvalHands

    #modalHandsFreeTooth.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hands Free Tooth Brush
          .modal-body
            img(src='dist/images/140 Hands Free Tooth Brush.jpg')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHandsFreeTooth', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/140 Hands Free Tooth Brush.jpg')
          p Hands Free Tooth Brush
    // end modalHandsFreeTooth

    #modalExtraLongHandle.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4(clas='modal-title') Extra Long Handle Brush
          .modal-body
            img(src='dist/images/130 Extra Long Handle Brush.jpg', alt='Extra Long Handle Brush')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalExtraLongHandle', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/130 Extra Long Handle Brush.jpg', alt='Extra Long Handle Brush')
          p Extra Long Handle Brush
    // end modalExtraLongHandle

    #modalLockingGrip.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title LGCC01-0N2 Locking Grip C-Clamp
          .modal-body
            img(src='dist/images/037Locking grip C clamp.jpg', alt='locking grip C clamp')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalLockingGrip', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/037Locking grip C clamp.jpg', alt='locking grip C clamp')
          p LGCC01-0N2 Locking Grip C-Clamp
    // end modalLockingGrip

    #modalExtraLong.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Extra Long Comb
          .modal-body
            img(src='dist/images/133 Extra Long Comb.jpg', alt='Extra Long Comb')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalExtraLong', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/133 Extra Long Comb.jpg', alt='Extra Long Comb')
          p Extra Long Comb
    // end modalExtraLong

    #modalHandsFreeRazor.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hands Free Razor
          .modal-body
            img(src='dist/images/138 Hands Free Razor.jpg', alt='Hands Free Razor')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHandsFreeRazor', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/138 Hands Free Razor.jpg', alt='Hands Free Razor')
          p Hands Free Razor
    // end modalHandsFreeRazor

    #modalHandsFreeStation.modal.fade
      .modal-dialog
        .modal-content
          div(clas='modal-header')
            button.close(data-dismiss='modal') ×
            h4.modal-title Hands Free Station
          .modal-body
            img(src='dist/images/151 Hands Free Station.jpg', alt='Hands Free Station')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHandsFreeStation', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/151 Hands Free Station.jpg', alt='Hands Free Station')
          p Hands Free Station
    // end modalHandsFreeStation

    #modalPocketDresser.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Pocket Dresser
          .modal-body
            img(src='dist/images/156 Pocket Dresser.jpg', alt='Pocket Dresser')
            h4 Specifications:
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPocketDresser', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/156 Pocket Dresser.jpg', alt='Pocket Dresser')
          p Pocket Dresser
    // end modalPocketDresser
