doctype html
html(lang="en-US")
  include vars.pug
  include head.pug
  body
    .container-fluid.container-nav
      include nav.pug

    .container-fluid
      #content

    .container-fluid
      include footer.pug

    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script window.jQuery || document.write('<script src="node_modules/jquery/dependencies/jquery-3.1.1.min.js"><\x3C\/script>')
    script(src='dist/vendor/bootstrap.min.js')
    script(src='dist/js/index.min.js')
