doctype html
html(lang="en-US")
  include head.pug
  body
    #navbar-container.container
      .navbar.navbar-top
        a(href='#')
          h3.navbar-top_home
            img.logo(src='dist/images/texas-final.png')
            | exas Assistive Devices
      // end navbar-top

      nav#navbar-default.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
              span.sr.only
              span.icon-bar
              span.icon-bar
              span.icon-bar
          // end navbar-header

          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.pull-left
              li
                a#nav-home(href='#home') Home
              li
                a#nav-n-abler(href='#n-abler') N-Abler
              li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Kitchen
                  span.caret
                ul.dropdown-menu
                  li
                    a#nav-cutlery(href='#cutlery') Cutlery
                  li
                    a#nav-utencils(href='#utencils') Utencils
              // end dropdown Kitchen

              li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Outdoor
                  span.caret
                ul.dropdown-menu
                  li
                    a#nav-carpentry(href='#carpentry') Carpentry
                  li
                    a#nav-gardening(href='#gardening') Gardening
                  li
                    a#nav-mechanic(href='#mechanic') Mechanic
                  li
                    a#nav-sports-gear(href='#sports-gear') Sports Gear
              // end dropdown Outdoor

              li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Other
                  span.caret
                ul.dropdown-menu
                  li
                    a#nav-hygiene(href='#hygiene') Hygiene
                  li
                    a#nav-components(href='#components') Components

            ul.nav.navbar-nav.pull-right
              li
                a#nav-about(href='#about') About
              li
                a#nav-contact(href='#contact') Contact
    // end navbar-default

    #content

    footer
      hr.footer-buffer
      .row
        #footerLeft.col-sm-3
          .footer-text
            p N-Abler
            a#footer-n-abler(href='#n-abler') N-Abler II
            a#footer-n-abler_V(href='#n-abler') Nabler V
          .hidden-break
        #footerInLeft.col-sm-3
          .footer-text
            p Kitchen
            a#footer-cutlery(href='#cutlery') Cutlery
            a#footer-utencils(href='#utencils') Utencils
          .hidden-break
        #footerInRight.col-sm-3
          .footer-text
            p Outdoor
            a#footer-carpentry(href='#carpentry') Carpentry
            a#footer-gardening(href='#gardening') Gardening
            a#footer-mechanic(href='#mechanic') Mechanic
            a#footer-sports-gear(href='#sports-gear') Sports Gear
          .hidden-break
        #footerRight.col-sm-3
          .footer-text
            p Other
            a#footer-hygiene(href='#hygiene') Hygiene
            a#footer-components(href='#components') Components
      hr.footer-buffer
      a(href='http://brandnpatterson.net/')
        p.copyright
          | ©
          script(type='text/javascript') document.write(new Date().getFullYear());
          | &nbsp; Brandon Patterson. All Rights Reserved.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script window.jQuery || document.write('<script src="node_modules/jquery/includes/jquery-3.1.1.min.js"><\x3C\/script>')
    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='dist/index.min.js')
