.mechanic
  h2.gallery-heading Mechanic
  .gallery.row
    #modalPipeWrench.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title PW01-0N2 Pipe Wrench
          .modal-body
            img(src='dist/images/043 Pipe wrench.jpg', alt='pipe wrench')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPipeWrench', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/043 Pipe wrench.jpg', alt='pipe wrench')
          p PW01-0N2 Pipe Wrench
    // end modalPipeWrench

    #modalLockingGrip.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title LGPS04-0N2 Locking Grip Pliers Set
          // end modal-header
          .modal-body
            img(src='dist/images/016 Locking grip pliers set.jpg', alt='locking grip pliers set')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalLockingGrip', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/016 Locking grip pliers set.jpg', alt='locking grip pliers set')
          p LGPS04-0N2 Locking Grip Pliers Set
    // end modalLockingGrip

    #modalAdjustable.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title AWS04-0N2 Adjustable Wrench Set
          .modal-body
            img(src='dist/images/019Adjustable wrench set.jpg', alt='adjustable wrench set')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalAdjustable', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/019Adjustable wrench set.jpg', alt='adjustable wrench set')
          p AWS04-0N2 Adjustable Wrench Set
    // end modalAdjustable

    #modalBoxEnd.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title BESS15-0N2 Box End Standard Wrench Set
          .modal-body
            img(src='dist/images/001Boxed end wrench.jpg', alt='boxed end wrench set')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalBoxEnd', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/001Boxed end wrench.jpg', alt='boxed end wrench set')
          p BESS15-0N2 Box End Standard Wrench Set
    // end modalBoxEnd

    #modalEndStandard.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title OESS15-0N2 Open End Standard Wrench Set
          .modal-body
            img(src='dist/images/007Open end wrench set.jpg', alt='open end wrench set')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalEndStandard', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/007Open end wrench set.jpg', alt='open end wrench set')
          p OESS15-0N2 Open End Standard Wrench Set
    // end modalEndStandard

    #modalRatchet.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4 RWS04-0N2 Ratchet Wrench Set
          .modal-body
            img(src='dist/images/025 Rachet set.jpg', alt='rachet wrench set')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalRatchet', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/025 Rachet set.jpg', alt='rachet wrench set')
          p RWS04-0N2 Ratchet Wrench Set
    // end modalRatchet

    #modalYankeePush.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Yankee Push Screwdriver
          .modal-body
            img(src='dist/images/033 Yankee Push Screwdriver.jpg', alt='yankee push screwdriver')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalYankeePush', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/033 Yankee Push Screwdriver.jpg', alt='yankee push screwdriver')
          p Yankee Push Screwdriver
    // end modalYankeePush

    #modalLockingGrip.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal')
            h4.modal-title LGCC01-0N2 Locking Grip C-Clamp
          .modal-body
            img(src='dist/images/037Locking grip C clamp.jpg', alt='locking grip C clamp')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalLockingGrip', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/037Locking grip C clamp.jpg', alt='locking grip C clamp')
          p LGCC01-0N2 Locking Grip C-Clamp
    // end modalLockingGrip

    #modalAllPurp.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title APQGA01-0N2 All Purpose Quick Grip Adapter
          .modal-body
            img(src='dist/images/008,Clamp.jpg', alt='clamp')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalAllPurp', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/008,Clamp.jpg', alt='clamp')
          p APQGA01-0N2 All Purpose Quick Grip Adapter
    // end modalAllPurp

    #modalFileSet.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title FS05-0N2 File Set
          .modal-body
            img(src='dist/images/029 File Set.jpg', alt='file set')
            h4 Specifications:
            p Manufacturer: Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalFileSet', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/029 File Set.jpg', alt='file set')
          p FS05-0N2 File Set
    // end modalFileSet

    #modalHobbyFile.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Hobby File Set
          .modal-body
            img(src='dist/images/032 Hobby file set.jpg', alt='hobby file set')
            h4 Specifications:
            p Manufacturer:  Forschner
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalHobbyFile', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/032 Hobby file set.jpg', alt='hobby file set')
          p Hobby File Set
    // end modalHobbyFile
