#n-abler
  h2.gallery-heading N-Abler
  #gallery.row
    #modalNablerII.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title TD-0N2 N-Abler II ™ Terminal Device
          .modal-body
            img(src='dist/images/147 N Abler II.jpg', alt='n-abler II')
            h4 Specifications:
            p Manufacturer: Texas Assisitve Devices, LLC
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
    a(href='#modalNablerII', role='button', data-toggle='modal')
      .col-sm-6
        .panel
          img(src='dist/images/147 N Abler II.jpg', alt='n-abler II')
          p TD-0N2 N-Abler II ™ Terminal Device
    // end modalNablerII

    #modalAB.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title N-Abler V ™ AB - Body Powered Five Function Wrist
          .modal-body
            img(src='dist/images/159 AB Wrist.jpg', alt='n-abler 5 AB')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
    a(href='#modalAB', role='button', data-toggle='modal')
      .col-sm-6
        .panel
          img(src='dist/images/159 AB Wrist.jpg', alt='n-abler 5 AB')
          p N-Abler V ™ AB Version Body Powered Five Function Wrist
    // end modalAB

    #modalA.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title N-Abler V ™ A Version Body Powered Five Function Wrist
          .modal-body
            img(src='dist/images/163  A Wrist.jpg', alt='n-abler 5 A')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
    a(href='#modalA', role='button', data-toggle='modal')
      .col-sm-6
        .panel
          img(src='dist/images/163  A Wrist.jpg', alt='n-abler 5 A')
          p N-Abler V ™ A - Body Powered Five Function Wrist
    // end modalA

    #modalB.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title N-Abler V ™ B Version Body Powered Five Function Wrist
          .modal-body
            img(src='dist/images/164 B Wrist.jpg', alt='n-abler 5 B')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
    a(href='#modalB', role='button', data-toggle='modal')
      .col-sm-6
        .panel
          img(src='dist/images/164 B Wrist.jpg', alt='n-abler 5 B')
          p N-Abler V ™ B - Body Powered Five Function Wrist
    // end moalB

    #modalBHook.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title B Wrist W Hook
          .modal-body
            img(src='dist/images/209  B Wrist W Hook, Angles,25 deg.jpg', alt='209  B Wrist W Hook')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
    a(href='#modalBHook', role='button', data-toggle='modal')
      .col-sm-6
        .panel
          img(src='dist/images/209  B Wrist W Hook, Angles,25 deg.jpg', alt='209  B Wrist W Hook')
          p B Wrist W Hook
    // end modalBHook
