.sports-gear
  h2.gallery-heading Sports Gear
  .gallery.row
    #modalFishing5.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Fishing Rod, .5” 20 Thread
          .modal-body
            img(src='dist/images/056 Fishing Rod, .5  in 20 thread.jpg', alt='fishing rod .5 in 20 thread')
            h4 Specifications:
            p Manufacturer:  Shakespeare ® Ugly Stick ®
            p Material: Graphite Inner Core & E-Glass outer layer
            p No. Pieces: 1
            p Size: 6” Medium
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalFishing5', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/056 Fishing Rod, .5  in 20 thread.jpg', alt='fishing rod .5 in 20 thread')
          p Fishing Rod, .5” 20 Thread
    // end modalFishing5

    #modalFishingStand.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Fishing Rod, Standard Shank
          .modal-body
            img(src='dist/images/066 Fishing Rod, Standard Shank.jpg', alt='fishing rod, standard shank')
            h4 Specifications:
            p Manufacturer: Shakespeare ® Ugly Stick ®
            p Material: Graphite Inner Core & E-Glass outer layer
            p No. Pieces: 1
            p Size: 6” Medium
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalFishingStand', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/066 Fishing Rod, Standard Shank.jpg', alt='fishing rod, standard shank')
          p Fishing Rod, Standard Shank
    // end modalFishingStand

    #modalFishingBoth.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Fishing Rod, Both Shanks
          .modal-body
            img(src='dist/images/074 Fishing Rod,both shanks.jpg', alt='fishing rod, both shanks')
            h4 Specifications:
            p Manufacturer: Shakespeare ® Ugly Stick ®
            p Material: Graphite Inner Core & E-Glass outer layer
            p No. Pieces: 1
            p Size: 6” Medium
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalFishingBoth', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/074 Fishing Rod,both shanks.jpg', alt='fishing rod, both shanks')
          p Fishing Rod, Both Shanks
    // end modalFishingBoth

    #modalPoolBridge.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Pool Bridge
          .modal-body
            img(src='dist/images/051 Pool Bridge.jpg', alt='pool bridge')
            h4 Specifications:
            p Material: High Density Polyethylene & 3/8” 316 Stainless Steel Tubing
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPoolBridge', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/051 Pool Bridge.jpg', alt='pool bridge')
          p Pool Bridge
    // end modalPoolBridge

    #modalLockingGrip.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title LGCC01-0N2 Locking Grip C-Clamp
          .modal-body
            img(src='dist/images/037Locking grip C clamp.jpg', alt='locking grip C clamp')
            h4 Specifications:
            p Material: Stainless Steel
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalLockingGrip', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/037Locking grip C clamp.jpg', alt='locking grip C clamp')
          p LGCC01-0N2 Locking Grip C-Clamp
    // end modalLockingGrip

    #modalNablerCrank.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title N-Abler with Crank Adapter
          .modal-body
            img(src='dist/images/075 Nabler with crank adapter.jpg', alt='n-abler with crank adapter')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: High Carbon Stainless Steel
            p No. Pieces: 1
            p Size: 6” Blade – Full Tang
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalNablerCrank', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/075 Nabler with crank adapter.jpg', alt='n-abler with crank adapter')
          p N-Abler with Crank Adapter
    // end modalNablerCrank

    #modalQuickRel.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title QRG05-0N2 Quick Release Gripper
          .modal-body
            img(src='dist/images/002_Quick Release Gripper.jpg', alt='release gripper')
            h4 Specifications:
            p Material: Stainless Steel
            p No. Pieces: 1
            p Size: Standard
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalQuickRel', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/002_Quick Release Gripper.jpg', alt='release gripper')
          p QRG05-0N2 Quick Release Gripper
    // end modalQuickRel

    #modalAllPurpCrank.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title APCA01-0N2 All Purpose Crank Adapter
          .modal-body
            img(src='dist/images/016 All Purpose Crank Adapter.jpg', alt='all purpose crank adapter')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: Acidel Delran
            p No. Pieces: 1
            p Size: Fits Most Light Fishing Reel Crank Handles
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalAllPurpCrank', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/016 All Purpose Crank Adapter.jpg', alt='all purpose crank adapter')
          p APCA01-0N2 All Purpose Crank Adapter
    // end modalPurpCrank

    #modalWeightLift.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title WLD05-0N2 Weight Lifting Device W/ ½” 20 Threaded Shank
          .modal-body
            img(src='dist/images/008 Threaded weight lifting device.jpg', alt='threaded weight lifting device')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 316 Stainless Steel W/ Acidel Delran Liner
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalWeightLift', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/008 Threaded weight lifting device.jpg', alt='threaded weight lifting device')
          p WLD05-0N2 Weight Lifting Device W/ ½” 20 Threaded Shank
    // end modalWeightLift

    #modalWeightLift2.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title WLD04-0N2 Weight Lifting Device
          .modal-body
            img(src='dist/images/011Weight lifting device.jpg', alt='weight lifting device')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 316 Stainless Steel W/ Acidel Delran Liner
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalWeightLift2', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/011Weight lifting device.jpg', alt='weight lifting device')
          p WLD04-0N2 Weight Lifting Device
    // end modalWeightLift2

    #modalPassiveHook.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Passive Hook Weight Lifting Device, .5” 20
          .modal-body
            img(src='dist/images/020 Passive Hook Weight Lifting Device, .5 in 20.jpg', alt='passive hook weight lifting device, .5in 20')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 3/8” 316 Stainless Steel Tubing W/ 3 Coats of Performix Rubber Coating
            p No. Pieces: 1
            p Size: Designed to Safely Cradle most Rifles & Shotguns
            p Shank: Shank: Standard N-Abler™ Shank – 316 Stainless Steel – Also Equipped with ½” 20 Threaded Shank
            p Attach Site: N-Abler II™
    a(href='#modalPassiveHook', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/020 Passive Hook Weight Lifting Device, .5 in 20.jpg', alt='passive hook weight lifting device, .5in 20')
          p Passive Hook Weight Lifting Device, .5” 20
    // end modalPassiveHook

    #modalPassiveHook2.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Passive Hook Weight Lifting Device, Standard Shank
          .modal-body
            img(src='dist/images/022 Passive Hook Weight Lifting Device, standard shank.jpg', alt='Passive Hook Weight Lifting Device, standard shank')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 3/8” 316 Stainless Steel Tubing W/ 3 Coats of Performix Rubber Coating
            p No. Pieces: 1
            p Size: Designed to Safely Cradle most Rifles & Shotguns
            p Shank: Shank: Standard N-Abler™ Shank – 316 Stainless Steel – Also Equipped with ½” 20 Threaded Shank
            p Attach Site: N-Abler II™
      a(href='#modalPassiveHook2', role='button', data-toggle='modal')
        .col-sm-4
          .panel
            img(src='dist/images/022 Passive Hook Weight Lifting Device, standard shank.jpg', alt='Passive Hook Weight Lifting Device, standard shank')
            p Passive Hook Weight Lifting Device, Standard Shank
    // end modalPassiveHook2

    #modalRingControl.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Ring Control Tool
          .modal-body
            img(src='dist/images/027 Ring Control Tool.jpg', alt='ring control tool')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 3/8” 316 Stainless Steel Tubing W/ 3 Coats of Performix Rubber Coating
            p No. Pieces: 1
            p Size: Designed to Safely Cradle most Rifles & Shotguns
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel – Also Equipped with ½” 20 Threaded Shank
            p Attach Site: N-Abler II™
    a(href='#modalRingControl', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/027 Ring Control Tool.jpg', alt='ring control tool')
          p Ring Control Tool
    // end modalRingControl

    #modalUniv.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Universal HH, .5” 20
          .modal-body
            img(src='dist/images/029 Universal HH,.5in20 thread.jpg', alt='universal HH, .5in 20')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 3/8” 316 Stainless Steel Tubing W/ 3 Coats of Performix Rubber Coating
            p No. Pieces: 1
            p Size: Designed to Safely Cradle most Rifles & Shotguns
            p Shank: Shank: Standard N-Abler™ Shank – 316 Stainless Steel – Also Equipped with ½” 20 Threaded Shank
            p Attach Site: N-Abler II™
    a(href='#modalUniv', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/029 Universal HH,.5in20 thread.jpg', alt='universal HH, .5in 20')
          p Universal HH, .5” 20
    // end modalUniv

    #modalUniv2.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Universal HH, Standard Shank
          .modal-body
            img(src='dist/images/034 Universal HH,standard shank.jpg', alt='Universal HH, Standard Shank')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 3/8” 316 Stainless Steel Tubing W/ 3 Coats of Performix Rubber Coating
            p No. Pieces: 1
            p Size: Designed to Safely Cradle most Rifles & Shotguns
            p Shank: Shank: Standard N-Abler™ Shank – 316 Stainless Steel – Also Equipped with ½” 20 Threaded Shank
            p Attach Site: N-Abler II™
    a(href='#modalUniv2', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/034 Universal HH,standard shank.jpg', alt='Universal HH, Standard Shank')
          p Universal HH, Standard Shank
    // end modalUniv2

    #modalToolCradle.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Tool Cradle Standard Shank
          .modal-body
            img(src='dist/images/035 Tool Cradle Standard Shank.jpg', alt='Tool Cradle Standard Shank')
            h4 Specifications:
            p Manufacturer: Texas Assistive Devices, LLC
            p Material: 3/8” 316 Stainless Steel Tubing W/ 3 Coats of Performix Rubber Coating
            p No. Pieces: 1
            p Size: Designed to Safely Cradle most Rifles & Shotguns
            p Shank: Shank: Standard N-Abler™ Shank – 316 Stainless Steel – Also Equipped with ½” 20 Threaded Shank
            p Attach Site: N-Abler II™
    a(href='#modalToolCradle', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/035 Tool Cradle Standard Shank.jpg', alt='Tool Cradle Standard Shank')
          p Tool Cradle Standard Shank
    // end modalToolCradle
