#utencils
  h2.gallery-heading Utencils
  #gallery.row
    #modalDiningSpoon.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Dining Spoon
          .modal-body
            img(src='dist/images/044_Dining spoon.jpg', alt='dining spoon')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalDiningSpoon', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/044_Dining spoon.jpg', alt='dining spoon')
          p Dining Spoon
    // end modalDiningSpoon

    #modalTableSpoon.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Table Spoon
          .modal-body
            img(src='dist/images/054_Table spoon.jpg', alt='table spoon')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalTableSpoon', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/054_Table spoon.jpg', alt='table spoon')
          p Table Spoon
    // end modalTableSpoon

    #modalKitchenSpoon.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Kitchen Spoon
          .modal-body
            img(src='dist/images/077_Kitchen spoon.jpg', alt='kitchen spoon')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalKitchenSpoon', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/077_Kitchen spoon.jpg', alt='kitchen spoon')
          p Kitchen Spoon
    // end modalKitchenSpoon

    #modalSlottedSpoon.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Slotted Spoon
          .modal-body
            img(src='dist/images/088_Slotted spoon.jpg', alt='slotted spoon')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalSlottedSpoon', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/088_Slotted spoon.jpg', alt='slotted spoon')
          p Slotted Spoon
    // end modalSlottedSpoon

    #modalLadleSpoon.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Ladle Spoon
          .modal-body
            img(src='dist/images/065_Ladle spoon.jpg', alt='ladle spoon')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalLadleSpoon', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/065_Ladle spoon.jpg', alt='ladle spoon')
          p Ladle Spoon
    // end modalLadleSpoon

    #modalSkimmer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Skimmer
          .modal-body
            img(src='dist/images/052_skimmer.jpg', alt='skimmer')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalSkimmer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/052_skimmer.jpg', alt='skimmer')
          p Skimmer
    // end modalSkimmer

    #modalDiningFork.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Dining Fork
          .modal-body
            img(src='dist/images/034_Dining fork.jpg', alt='dining fork')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalDiningFork', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/034_Dining fork.jpg', alt='dining fork')
          p Dining Fork
    // end modalDiningFork

    #modalCarvingFork.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Carving Fork
          .modal-body
            img(src='dist/images/038_carving fork.jpg', alt='carving fork')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalCarvingFork', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/038_carving fork.jpg', alt='carving fork')
          p Carving Fork
    // end modalCarvingFork

    #modalPotFork.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Pot Fork
          .modal-body
            img(src='dist/images/049_Pot fork.jpg', alt='pot fork')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPotFork', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/049_Pot fork.jpg', alt='pot fork')
          p Pot Fork
    // end modalPotFork

    #modalDiningKnife.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Dining Knife
          .modal-body
            img(src='dist/images/013_Dining.jpg', alt='dining knife')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalDiningKnife', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/013_Dining.jpg', alt='dining knife')
          p Dining Knife
    // end modalDiningKnife

    #modalSteakKnife.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Steak Knife
          .modal-body
            img(src='dist/images/005_Steak.jpg', alt='steak knife')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalSteakKnife', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/005_Steak.jpg', alt='steak knife')
          p Steak Knife
    // end modalSteakKnife

    #modalWhisk.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Whisk
          .modal-body
            img(src='dist/images/070_Whisk.jpg', alt='whisk')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalWhisk', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/070_Whisk.jpg', alt='whisk')
          p Whisk
    // end modalWhisk

    #modalPotatoMasher.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Potato Masher
          .modal-body
            img(src='dist/images/083_Potato masher.jpg', alt='potato masher')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPotatoMasher', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/083_Potato masher.jpg', alt='potato masher')
          p Potato Masher
    // end modalPotatoMasher

    #modalPotatoMasher-two.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Potato Masher
          .modal-body
            img(src='dist/images/047 Potato Masher.jpg', alt='potato masher')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPotatoMasher-two', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/047 Potato Masher.jpg', alt='potato masher')
          p Potato Masher
    // end modalPotatoMasher-two

    #modalBurgerTurner.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Burger Turner
          .modal-body
            img(src='dist/images/072_Burger turner.jpg', alt='burger turner')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalBurgerTurner', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/072_Burger turner.jpg', alt='burger turner')
          p Burger Turner
    // end modalBurgerTurner

    #modalPieServer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Pie Server
          .modal-body
            img(src='dist/images/091_Pie server.jpg', alt='pie server')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPieServer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/091_Pie server.jpg', alt='pie server')
          p Pie Server
    // end modalPieServer

    #modalOffsetSpatula.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Offset Spatula
          .modal-body
            img(src='dist/images/063_Offset Spatula.jpg', alt='offset spatula')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalOffsetSpatula', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/063_Offset Spatula.jpg', alt='offset spatula')
          p Offset Spatula
    // end modalOffsetSpatula

    #modalSpatula.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Spatula
          .modal-body
            img(src='dist/images/027 Spatula.jpg', alt='spatula')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalSpatula', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/027 Spatula.jpg', alt='spatula')
          p Spatula
    // end modalSpatula

    #modalCheeseSlicer.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Cheese Slicer
          .modal-body
            img(src='dist/images/089_Cheese slicer.jpg', alt='cheese slicer')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalCheeseSlicer', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/089_Cheese slicer.jpg', alt='cheese slicer')
          p Cheese Slicer
    // end modalCheeseSlicer

    #modalCheeseGrater.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Cheese Grater
          .modal-body
            img(src='dist/images/095_Cheese Grater.jpg', alt='cheese grater')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalCheeseGrater', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/095_Cheese Grater.jpg', alt='cheese grater')
          p Cheese Grater
    // end modalCheseGrater

    #modalPotatoPeeler.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Potato Peeler
          .modal-body
            img(src='dist/images/100_potato peeler.jpg', alt='potato peeler')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPotatoPeeler', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/100_potato peeler.jpg', alt='potato peeler')
          p Potato Peeler
    // end modalPotatoPeeler

    #modalZester.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Zester
          .modal-body
            img(src='dist/images/098_Zester.jpg', alt='zester')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalZester', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/098_Zester.jpg', alt='zester')
          p Zester
    // end modalZester

    #modalPizzaCutter.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Pizza Cutter
          .modal-body
            img(src='dist/images/058_Pizza cutter.jpg', alt='pizza cutter')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalPizzaCutter', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/058_Pizza cutter.jpg', alt='pizza cutter')
          p Pizza Cutter
    // end modalPizzaCutter

    #modalMelonBaller.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title Melon Baller
          .modal-body
            img(src='dist/images/097_Melon baller.jpg', alt='melon baller')
            h4 Specifications:
            p Material: High Definition Stainless Steel
            p No. Pieces: 1
            p Shank: Standard N-Abler™ Shank – 316 Stainless Steel
            p Attach Site: N-Abler II™
    a(href='#modalMelonBaller', role='button', data-toggle='modal')
      .col-sm-4
        .panel
          img(src='dist/images/097_Melon baller.jpg', alt='melon baller')
          p Melon Baller
    // end modalMelonBaller
